@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}


@media screen and (max-width: 600px) {

  .contact__heading,
  .projects__heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .contact__link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 374px) {
  .projects__heading,
  .contact__heading {
    font-size: 2rem;
  }

  .contact__link {
    font-size: 10px;
  }
}